<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644184440024-491p5n4425iqc7iv8jcbkdt02d0q15pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644184440024-491p5n4425iqc7iv8jcbkdt02d0q15pq</string>
	<key>API_KEY</key>
	<string>AIzaSyCzjyp_fPzg_R9rubQPySshfDdhBDXfNug</string>
	<key>GCM_SENDER_ID</key>
	<string>644184440024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.villagebanking</string>
	<key>PROJECT_ID</key>
	<string>villagebanking-49d6d</string>
	<key>STORAGE_BUCKET</key>
	<string>villagebanking-49d6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644184440024:ios:c0d66ae77b2e2a0d176bad</string>
</dict>
</plist>